
        <footer style="background-color: #e3f2fd;" class=" text-center text-lg-start">
            <!-- Grid container -->
            <div class="container p-4">
              <!--Grid row-->
              <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                  <h5 class="text-uppercase">RichPanel</h5>
          
                  <p>
                    Richpanel is a SaaS company making modern, simple tools to streamline customer support. We help businesses to scale their customer support without an expansion of their team.
                  </p>
                </div>
                
              </div>
              <!--Grid row-->
            </div>
            <!-- Grid container -->
          
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
             Copyright © 2022. All rights reserved.
            </div>
            <!-- Copyright -->
          </footer>
          
    </body>
</html>