<%- include('partials/header'); -%>


<form action="/login" method="POST">
    <!-- Email input -->
    <div class="loginCard">
        <div class="text-center mb-4">
            <h2>Login to your account</h2>
        </div>
    <div class="form-outline mb-4">
      <input type="email" id="form2Example1" class="form-control" name="email"/>
      <label class="form-label" for="form2Example1">Email address</label>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="form2Example2" class="form-control" name="password"/>
      <label class="form-label" for="form2Example2">Password</label>
    </div>
    <div class="text-center">
    <button type="submit" class="btn btn-primary btn-block mb-4 text-center">Sign In</button>
</div>   
 
    <div class="text-center">
      <p>Not a member? <a href="/signup">Sign Up</a></p>
    </div>
</div>
</form>

  <%- include('partials/footer'); -%>